nav {
  box-shadow: 0px 0px 4px 0px #0d10d126;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
}
nav a {
  text-decoration: none;
  font-weight: 500;
  color: #0d10d188;
  padding: 20px;
}
nav a.logout {
  color: red;
  display: flex;
  gap: 8px;
}
nav a img {
  height: 30px;
}
nav a.logo {
  text-align: center;
  margin-top: 20px;
}
nav > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
nav > div > div,
nav > div > p {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 10px;
}
nav > div > div:first-child,
nav > div > p:first-child {
  padding: 20px;
}
nav > div > div a,
nav > div > p a {
  width: max-content;
  min-width: 100%;
  padding: 10px 20px;
  transition: color 0.2s;
  display: flex;
  gap: 8px;
  align-items: center;
  border-left: solid 6px transparent;
}
nav > div > div a.router-link-active, nav > div > div a:hover,
nav > div > p a.router-link-active,
nav > div > p a:hover {
  color: #0d10d1;
  border-left: #0d10d1 solid 6px;
}
nav > div p {
  padding: 20px;
  text-align: center;
}

.logo-mobile {
  display: none;
}

#burger {
  position: absolute;
  left: -9999px;
}

label[for=burger] {
  display: none;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .logo-mobile {
    display: block;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  .logo-mobile img {
    height: 30px;
  }

  nav {
    padding-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 0px 4px 0px #0d10d126;
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
  }
  nav a {
    text-decoration: none;
    font-weight: 500;
    color: #0d10d188;
    padding: 20px;
  }
  nav a.logout {
    color: red;
    display: flex;
    gap: 8px;
  }
  nav a img {
    height: 30px;
  }
  nav a.logo {
    display: none;
  }
  nav > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  nav > div > div,
nav > div > p {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 10px;
  }
  nav > div > div:first-child,
nav > div > p:first-child {
    padding: 20px;
  }
  nav > div > div a,
nav > div > p a {
    width: max-content;
    min-width: 100%;
    padding: 10px 20px;
    transition: color 0.2s;
    display: flex;
    gap: 8px;
    align-items: center;
    border-left: solid 6px transparent;
  }
  nav > div > div a.router-link-active, nav > div > div a:hover,
nav > div > p a.router-link-active,
nav > div > p a:hover {
    color: #0d10d1;
    border-left: #0d10d1 solid 6px;
  }
  nav > div p {
    padding: 20px;
    text-align: center;
  }

  label[for=burger] {
    width: 26px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: fixed;
    top: 24px;
    right: 20px;
  }
  label[for=burger] span {
    position: relative;
    border-radius: 10px;
    display: block;
    height: 3px;
    background-color: #0d10d1;
    transition: transform 0.2s;
  }

  input:checked + label span:nth-child(1) {
    transform: translate3d(0, 5px, 0) rotate(45deg);
  }
  input:checked + label span:nth-child(2) {
    transform: translate3d(0, -5px, 0) rotate(-45deg);
  }

  input:checked + label + nav {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=sidebar.css.map */
